body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #282828
}

.calendar {
    width: 100%
}

.day {
    width: 100%;
    display: left;
    vertical-align:top;
    background-color: brown;
    word-wrap: break-word;
}