body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1a0000;
    color: lightgray;
    font-family: 'Orbitron', sans-serif;
}

#topbar {
    padding: 0;
    margin: 0;
    height: 80px;
    line-height:80px;
}

#title {
    vertical-align: middle;
    padding:0 30px;
    margin:0;
    color: orangered;
}

.calendar {
    width: 100%
}

.day {
    width: 100%;
    padding: 10px 0px;
    margin: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    height: 200px;
}

.datebox {
    width: 100px;
    height: 100%;
    display: inline-block;
    padding: 0;
    margin: 0px 4px;
    color: darkred;
}

div.date {
    padding:0;
    margin:0;
    width: 300px;
    text-align: center;
    transform: rotate(270deg) translate(-80px) translateY(-90px);
}

.Asteroid {
    display: inline-block;
    padding:0;
    margin: 0px 4px;
    width: 200px;
    height: 100%;
    word-wrap: break-word;
    vertical-align: top;
    white-space: normal;
    background-color: dimgray;
    border-radius: 100px;
    border: solid;
    border-width: 1px;
    border-color: dimgray;
}